.backScreen{
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  background-color: rgba(122, 247, 247, 0.173);
  display: flex;
  justify-content: center;
  align-items: center;
}

.FeedbackBlock{
  width: 50%;
  height: 600px;
  display: flex;
}

.mainFeedback{
  width: 90%;
  background-color: rgb(255, 255, 255);
  overflow: scroll;
  border-radius: 5px;
  position: relative;
  border: 1px solid #0000002e;
}
.circleBack{
  background-color: aqua;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -140%);
  height: 350px;
  width: 100%;
  border-radius: 0 0 400px 400px;
}
.feedbackCloseBtn{
  padding: 2px 6px;
  font-size: 20px;
  font-weight: 500;
  background-color: rgba(250, 235, 215, 0.068);
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.093);
  border-radius: 5px;
  cursor: pointer;
}
.guidePhoto {
  height: 110px;
  width: 110px;
  background-color: rgb(255, 158, 158);
  border-radius: 50%;
  position: relative;
  top: 70px;
  overflow: hidden;
}

.guideDiv{
  width: 100%;
  position: relative;
}
.guideP {
  display: flex;
  justify-content: center;
}
.guideN {
  display: flex;
  justify-content: center;
}

.guideName{
  position: relative;
  top: 70px;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: uppercase;
}

@media screen and (max-width: 600px){
  .FeedbackBlock{
    width: 300px;
  }
}

.feedbackSection{
  position: absolute;
  overflow: scroll;
  top: 270px;
  height: 300px;
  border-top: 0.1px solid rgba(255, 0, 0, 0.058);
}

.mainFeedback::-webkit-scrollbar{
  display: none;
}

.feedbackSection::-webkit-scrollbar{
  width: 2px;
}
.feedbackSection::-webkit-scrollbar-thumb{
  background: #888;
  border-radius: 20px;
}
.feedbackSection::-webkit-scrollbar-thumb:hover{

  background: #555;
}

.mainFeedback{
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.feedbackTitle{
  text-align: center;
  width: 100%;
  position: absolute;
  top: 20px;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 3px;
}



.feedbackTitleIn{
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
}

.feedbackTitleSection{
  padding: 9px 18px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* text-align: center; */
}

.feedbackTitleDescription{
  color: grey;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 0.5px;
}

@media  screen and (max-width: 400px){
  .FeedbackBlock{
    width: 100%;
  }
}

.publishBtnDiv{
  position: absolute;
  bottom: 0px;
  /* height: 50px; */
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 5px;
  padding: 5px;
}

.publishBtn{
  justify-self: center;
  outline: none;
  border: none;
  background: #3fdbe9;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.guideImg{
  width: 100%;
}

.container {
  background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/concrete-texture.png");
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  position: relative;
  top: 70px;
}
.container2 {
  background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/concrete-texture.png");
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  position: relative;
  top: 0px;
}

.rating{
  display: flex;
  width: 100%;
  justify-content: center;
  overflow: hidden;
  flex-direction: row-reverse;
  height: 70px;
  position: relative;
}
.rating2 {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  overflow: hidden;
  flex-direction: row-reverse;
  height: 35px;
  position: relative;
}
.rating3 {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  overflow: hidden;
  flex-direction: row-reverse;
  height: 35px;
  position: relative;
}

.rating-0 {
  filter: grayscale(100%);
}

.rating > input,
.rating2 > input {
  display: none;
}

.rating > label,
.rating2 > label {
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin-top: auto;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 76%;
  transition: .3s;
}

.rating > input:checked ~ label,
.rating > input:checked ~ label ~ label,
.rating2 > input:checked ~ label,
.rating2 > input:checked ~ label ~ label
 {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}


.rating > input:not(:checked) ~ label:hover,
.rating > input:not(:checked) ~ label:hover ~ label,
.rating2 > input:not(:checked) ~ label:hover,
.rating2 > input:not(:checked) ~ label:hover ~ label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23d8b11e' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}

.emoji-wrapper {
  width: 100%;
  text-align: center;
  height: 40px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.emoji-wrapper:before,
.emoji-wrapper:after{
  content: "";
  height: 15px;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 1;
}

.emoji-wrapper:before {
  top: 0;
  /* background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 35%,rgba(255,255,255,0) 100%); */
}

.emoji-wrapper:after{
  bottom: 0;
  /* background: linear-gradient(to top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 35%,rgba(255,255,255,0) 100%); */
}

.emoji {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: .3s;
}

.emoji > svg {
  margin: 5px 0; 
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}

#rating-1:checked ~ .emoji-wrapper > .emoji { transform: translateY(0px); }
#rating-2:checked ~ .emoji-wrapper > .emoji { transform: translateY(-40px); }
#rating-3:checked ~ .emoji-wrapper > .emoji { transform: translateY(-80px); }
#rating-4:checked ~ .emoji-wrapper > .emoji { transform: translateY(-120px); }
#rating-5:checked ~ .emoji-wrapper > .emoji { transform: translateY(-160px); }

.feedback {
  max-width: 360px;
  /* background-color: #fff; */
  width: 100%;
  /* padding: 30px; */
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  /* box-shadow: 0 4px 30px rgba(0,0,0,.05); */
}

.mainRating{
  display: flex;
  justify-content: center;
  position: absolute;
}

.selected{
  background-color: rgb(88, 233, 88);
  cursor: pointer;
}

.notselected {
  background-color: rgba(128, 128, 128, 0.484);
  cursor: pointer;
}
.praise{
  display: flex;
  padding: 5px;
  flex-wrap: wrap;
}

.praise > div {
  padding: 4px;
  margin: 5px;
  border-radius: 5px;
  font-size: 12px;
}